body {
    margin: auto;
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: none;
}

/* Top Navigation */
.top-nav {
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding: 10px;
    background-color: rgb(239, 226, 252);
}

.brand-logo {
    align-items: center;
    position: absolute;
    display: flex;
}

.brand-logo input {
    border-radius: 20px ;
    border: 0px;
    background-color: #d4dff5;
    height: 35px;
    margin-left: 20px;
    min-width: 300px;
}

.profile-image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-size: contain;
    border: 1px solid black;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list li {
    cursor: pointer;
    padding: 15px 30px 0px;
}

.account {
    position: absolute;
    right: 0;
    padding-right: 10px;
    flex-direction: row;
}

.account-item-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-item-list li{
    cursor: pointer;
    padding-left: 20px;
}

.account-image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-size: contain;
    border: 1px solid black;
}

.fa-solid, .fa-regular, .fa-brands {
    color: #5f2682;
}

/* cover photo */

.cover-photo {
    justify-content: center;
}

.profile-photo-section {
       
}